@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .spinner {
        border: 3px solid rgba(0, 0, 0, 0.1);
        border-left-color: black;
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }
}